*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

header{
   background-color: rgb(6, 107, 170);
}


.cabeca{
  display: block;
  justify-content: center;
  align-items: center;
}

.cabeca h1{
  text-align: center;
  padding: 5px;
  background-color: rgb(6, 107, 170);
}
.cabeca img{
  margin-left: 198px;
}

#menu{
  display: none;
  align-items: center;
  justify-content: center;
}
#menu ul li{
  text-align: center;
  padding: 5px;
}
#menu ul li a{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

main img{
    width: 100%;
    height: 93vh;
}

.card{
  display: block;
  padding: 10px;
  
}
.card1{
   height: 30vh;
    margin: 10px;
   display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  box-shadow: 10px 20px 10px rgba(0, 0, 0,0.15);
  border-radius: 10px;
}
.card2{
   height: 30vh;
   display: flex;
    margin: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgb(5, 100, 184);
   box-shadow: 20px 20px 10px rgba(0, 0, 0,0.15);
  border-radius: 10px;
}